body{
  background-image: url(/img/background.jpg);
  background-repeat: repeat;
}
.container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.site-header{
  text-align: center;
  padding-top: 65px;
  background: #fafafa;
  border-radius: 10px 10px 10px 10px;
}
.logo{display: inline-block;}
.logo h1{
  font-size: 50px;
  line-height: 52px;
  color: #716a72;
  text-transform: uppercase;
  border-bottom: 3px double #eaeaea;
	padding-bottom: 30px;
  font-family: 'source_sans_problack';
  letter-spacing: 7px;
}
.menu{
  padding-top: 40px;
  padding-bottom: 45px;
  text-align: center;
}
.menu ul {
  display: inline-block;
            margin: 0;
            padding: 0;
            /* For IE, the outcast */
            zoom:1;
            *display: inline;
}
.menu ul li{
  float: left;
           padding: 2px 5px;
}

.menu ul a{
  text-decoration:none;
  width:129px;
  float:left;
  color:#716a72;
  font-weight:bold;
  text-align:center;
  line-height:35px;
}

.title-text{display: inline-block;}
.title-text h1{
  font-size: 30px;
  line-height: 52px;
  color: #716a72;
  text-transform: uppercase;
  border-bottom: 3px double #eaeaea;
	padding-bottom: 30px;
  font-family: 'source_sans_problack';
  letter-spacing: 7px;
}
.image_container {
  display: block;
  position: relative;
  right: -300px;
  margin: 20px;
  border: 10px double #eaeaea;
  padding: 10px;
  width: 500px;
  height: 370px;
}

.image_container > img{
  height: 95%;
  margin: 3px;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  display: none;
}
.image_container:hover .overlay{
  display: block;
}

#author_1 {

}

#author_2 {
}
